.dashboard__main {
    background-color: $primary-color;
    color:#161f2b;
    margin-top: 2rem;
}

.dashboard__nav-user {
    a {
        font-size: smaller !important;
        color: black;
    }
}
